.container__fuentesInformation {
    width: 45%;
    text-decoration: none;
    height: auto;
    background: #F5F5F5;
    border-radius: 5px;
    border: 1px solid #EEEEEE;
    margin-right: 20px;
}

.fuentesInformacion--modify { margin-top: 20px; }

.container__tileFuentes {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

.container__tileFuentes h6 {
    color: #212121;
    padding-left: 15px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.container__fuentesInformation p {
    padding-left: 20px;
    color: #424242;
}

.material-symbols-outlined { padding-left: 20px; color: #212121; }
.material-second { padding-left: 10px; font-size: 0px; color: #212121;}